<div class="mat-bottom-sheet-main-div" fxLayout="row wrap">
    <form [formGroup]="editTaskForm" *ngIf="currentTask">
        <span class="edit-task-heading">Edit task</span>
        <div fxLayout="row">
            <div fxFlex="100">
                <p style="margin-top: 30px;"><span class="edit-task-text">Remind me to </span>
                    <mat-form-field appearance="outline" style="width: 350px;">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Complete todo-app" 
                        [(ngModel)]="currentTask.title" [formControl]="editTaskForm.controls['title']">
                    </mat-form-field>
                    <span class="edit-task-text">by</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Due Date</mat-label>
                        <input matInput [matDatepicker]="datepicker" 
                        [(ngModel)]="currentTask.estimatedCompletionDate" [formControl]="editTaskForm.controls['estDate']"
                            [disabled]="true">
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <span class="edit-task-text">with</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Priority</mat-label>
                        <mat-select [formControl]="editTaskForm.controls['priority']" 
                        [(ngModel)]="currentTask.priority">
                        <mat-option value="High"><span class="high-priority-span"></span> High</mat-option>
                        <mat-option value="Normal"><span class="normal-priority-span"></span> Normal</mat-option>
                        <mat-option value="Low"><span class="low-priority-span"></span> Low</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="edit-task-text">priority. </span>
                    <span class="edit-task-text">Set label as</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Label</mat-label>
                        <mat-select [formControl]="editTaskForm.controls['label']" 
                        [(ngModel)]="currentTask.label">
                            <mat-option *ngFor="let label of allLabels" [value]="label">
                                {{ label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="edit-task-text">& status as</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select [formControl]="editTaskForm.controls['status']" 
                        [(ngModel)]="currentTask.status">
                            <mat-option *ngFor="let status of allStatuses" [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="edit-task-text">.</span>
                </p>
            </div>
        </div>
        <div fxLayout="row" style="margin-bottom: 30px">
            <div fxFlex="50">
                <mat-form-field style="margin-left: 10px; width: 100%;">
                    <mat-label>Task Description</mat-label>
                    <textarea [formControl]="editTaskForm.controls['description']" matInput
                    [(ngModel)]="currentTask.description" placeholder="- Add getAllTasks, saveNewTask APIs." rows="4"></textarea>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxLayoutAlign="end end">
                <button mat-raised-button class="task-delete-button" (click)="deleteTask( currentTask._id )">
                    <mat-icon style="margin-right: 5px;">delete</mat-icon> Delete
                </button>
                <button mat-raised-button class="edit-new-task-button" (click)="updateTask()">
                    <mat-icon style="margin-right: 5px;">edit</mat-icon> Save task
                </button>
            </div>
        </div>
    </form>
</div>